@import url('reset.css');

:root {
  font-family: "M PLUS Rounded 1c", sans-serif;
  --color-black: #000000;
  --color-gray: #C5C5C5;
  --color-blue: #1820EF;
  --color-red: #FF4E42;
  --color-yellow: #FFC024;
  --color-background: #FAFAED;
  background-color: var(--color-background);
  font-size: 62.5%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  position: absolute;
  z-index: 1;
  left: 40px;
  top: 40px;
}

header .hero {
  background-image: url("../assets/background-red.png");
  color: white;
  text-align: center;
  position: relative;
  }

header .hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 78.3rem;
  height: 100vh;
  margin: auto;
}

header .hero-text {
  z-index: 2;
}

header .hero-title {
  display: flex;
  align-items: flex-end;
}


header h2 {
  writing-mode: vertical-rl;
  color: var(--color-yellow);
  font-size: 4.8rem;
  line-height: 5.6rem;
  letter-spacing: 1rem;
  font-weight: 900;
}

header h1 {
  font-size: 16rem;
  line-height: 10rem;
  font-weight: 900;
}

header p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  margin-block: 2.4rem;
  max-width: 20.5rem;
  text-align: start;
  padding-left: 0.9rem;
}

header button, .button-order-new, .order-button-container button:hover {
  cursor: pointer;
  font-family: "M PLUS Rounded 1c", sans-serif;
  letter-spacing: .178rem;
  font-weight: 700;
  text-decoration: none;
  border: none;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.6rem;
  width: 21.3rem;
  border-radius: 9.9rem;
  background-color: var(--color-blue);
}

.hero-image {
  position: relative;  
  width: 47rem;
  height: 68.3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero-image img {
  position: absolute;
}

.ellipse-brown {
  z-index: 0;
}

.delivery-woman {
  z-index: 1;
  width: 66.6rem;
  height: 68.3rem;
  left: -20rem;
  animation: rotate 4s infinite alternate ease-in-out;
  transform-origin: center center;
}

.balloon-blue {
  z-index: 1;
  top: 0%;
  left: -45%;
}

.balloon-yellow {
  z-index: 1;
  top: 37%;
  right: -10%;
}

.balloon-blue, .balloon-yellow {
  animation: float 4s infinite alternate ease-in-out;
  transform-origin: center center;
}

main {
  padding: 11.5rem 0;
  text-align: center;
}

main h2 {
  color: var(--color-black);
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4.8rem;
  margin-bottom: 0.4rem;
  }
  
main p {
  color: var(--color-black);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 4.7rem;
}

.ingredient-selection {
  display: flex;
  flex-direction: column;
  gap: 9.6rem;
}

.broth-options, .meat-options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.broth-option, .meat-option {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  border-radius: 11px;
  box-shadow: 0 4px 12px rgba(224, 219, 191, 0.6);
  width: 32rem;
  height: 31.6rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

.broth-option img, .meat-option img {
  max-width: 10.4rem;
  margin-bottom: 1.4rem;
}

.broth-option h3, .meat-option h3 {
  color: var(--color-blue);
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 1rem;
  transition: color 0.3s ease;
}

.broth-option p, .meat-option p {
  color: var(--color-black);
  max-width: 25.65rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-bottom: 3.6rem;
  transition: color 0.3s ease;
}

.broth-option .price, .meat-option .price {
  color: var(--color-red);
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 0;
}

.broth-option.selected .price, .meat-option.selected .price {
  color: var(--color-yellow);

}

.broth-option.selected p, .meat-option.selected p, .broth-option.selected h3, .meat-option.selected h3 {
  color: white;
}

.broth-option.selected, .meat-option.selected {
  background-color: var(--color-blue);
}

.order-button-container {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.order-button-container button {
  cursor: pointer;
  font-family: "M PLUS Rounded 1c", sans-serif;
  border: none;
  letter-spacing: .178rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.6rem;
  width: 21.3rem;
  border-radius: 9.9rem;
  background-color: var(--color-gray);
}

/* Order Confirmation Page */
.order-confirmation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  background-color: var(--color-background);
}

.order-confirmation h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 900;
}
.order-confirmation h1 {
  font-size: 3.2rem;
  font-weight: 900;
}

.order-summary {
  background-image: url("../assets/background-blue.png");
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--color-blue);
  color: white;
}

.order-summary h1 {
  color: var(--color-yellow);
  line-height: 4.752rem;
}

.order-summary img {
  max-width: 300px;
  margin-bottom: 20px;
}

.order-preparation {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.bowing-img {
  margin-bottom: 1.869rem;
}

.order-preparation h2 {
  color: var(--color-yellow);
  margin-bottom: 1.5rem;
}

.order-preparation h1 {
  color: var(--color-red);
  line-height: 4rem;
  margin-bottom: 0.4rem;
}

.order-preparation p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

@media (max-width: 768px) {
  .logo {
    z-index: 1;
    width: 34.7%;
    left: 50%;
    top: 3.6rem;
    transform: translate(-50%, -50%);
  }
  
  header .hero-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    padding-top: 5.2rem;
  }
  
  header .hero-title {
    flex-direction: column;
    align-items: center;
  }
  header .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header h1 {
    font-size: 12rem;
    line-height: 10rem;
  }
  
  header h2 {
    writing-mode: horizontal-tb;
    text-align: center;
    color: var(--color-yellow);
    font-weight: 900;
  }
  
  header p {
    padding: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2rem;
    max-width: 70%;
  }
  
  .hero-image {
    position: relative; 
    width: 26.9rem;
    height: 26.506rem;
    display: flex;
    justify-content: center;
  }
  
  .hero-image img {
    position: absolute;
  }
  
  .ellipse-brown {
    z-index: 0;
    width: 23.19rem;
    height: 23.19rem;
  }
  
  .delivery-woman {
    z-index: 1;
    width: 26.23rem;
    height: 26.9rem;
    left: 0rem;
    animation: rotate 4s infinite alternate ease-in-out;
    transform-origin: center center;
  }
  
  .balloon-blue {
    z-index: 1;
    width: 4.569rem;
    height: 5.081rem;
    top: 0%;
    left: 0%;
  }
  
  .balloon-yellow {
    z-index: 1;
    width: 4.175rem;
    height: 9.531rem;
    right: 0%;
  }
  
  .balloon-blue, .balloon-yellow {
    animation: float 4s infinite alternate ease-in-out;
    transform-origin: center center;
  }

  header .scroll-button {
    display: none;
  }
  
  main {
    padding: 4rem 1.6rem;
  }
  
  main h2 {
    font-size: 2.4rem;
    line-height: 3.1rem;
    margin-bottom: 1.6rem;
  }
  
  main p {
    margin-bottom: 3.2rem;
  }

  .ingredient-selection {
    gap: 4.8rem;
  }
  
  .broth-options, .meat-options {
    flex-direction: column;
    align-items: center;
  }
  
  .broth-option, .meat-option {
    margin-bottom: 2rem;
  }
  
  .order-button-container {
    margin-top: 4.8rem;
  }
  
